<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>PrezentaOnline_frontend</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>adc</servlet-name>
		<servlet-class>com.proiect.Servlets.Login</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>adc</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>edit</servlet-name>
		<servlet-class>com.proiect.Servlets.Edit</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>edit</servlet-name>
		<url-pattern>/edit</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>delete</servlet-name>
		<servlet-class>com.proiect.Servlets.Delete</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>delete</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>inserted</servlet-name>
		<servlet-class>com.proiect.Servlets.AdminManag</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>inserted</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>insertp</servlet-name>
		<servlet-class>com.proiect.Servlets.ProfManag</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>insertp</servlet-name>
		<url-pattern>/prof</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>updated</servlet-name>
		<servlet-class>com.proiect.Servlets.AdminManag</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>updated</servlet-name>
		<url-pattern>/update</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>prezenta</servlet-name>
		<servlet-class>com.proiect.Servlets.Prezenta</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>prezenta</servlet-name>
		<url-pattern>/prezenta</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>student</servlet-name>
		<servlet-class>com.proiect.Servlets.StudManag</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>student</servlet-name>
		<url-pattern>/student</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>logout</servlet-name>
		<servlet-class>com.proiect.Servlets.Logout</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	
</web-app>